<div class="header">
    <a href="#default" class="logo"><font color="blue">Balaji Transport</font></a>
    <div class="header-Center">
      <a style="margin-left:10px" routerLink="/">Home</a>
      <a style="margin-left:10px" routerLink="/DriverDetails">Driver Master</a>
      <a style="margin-left:10px" routerLink="/VehicleDetails">Vehicle Master</a>
      <a style="margin-left:10px" routerLink="/FuelEntry">Fuel Entry</a>
      <a href="#FuelMaster">Fuel Master</a>
      <div>
          <img width="50" alt="Avatar" src="assets\images\avatar.png"  class="avtar header-right">
          <select>          
            <option value="">Profile</option>
            <option value="">Log Out</option>
          </select>
      </div>
      
  </div>
  </div>
       
  