<footer class="footer-distributed footer">
  <div class="footer-center">
    <div>
       <i class="fa fa-map-marker"></i>
      Copyright @fleetco.in
          Brand Of Ashwik Technology Solution Private Limited
      <br/>
         <i class="fa fa-phone">:&nbsp;  +91: 9042290037</i>
      <!-- <p>+91: 9042290037</p> -->
    </div>
    <div>
      <i class="fa fa-envelope">:&nbsp; <a href="fleetco.in"> www.fleetco.in</a></i>
   <!-- <p><a href="fleetco.in">fleetco.in</a></p> -->
    </div>
  </div>
</footer>