<div style="height: 100px;"></div>
<footer class="footer-distributed footer  font-small blue fixed-bottom">  
  <div class="footer-center">
    <div>
       <i class="fa fa-map-marker"></i>
      Copyright @ fleetco.in
          Brand Of Ashwik Technology Solution Private Limited
      
         <i class="fa fa-phone"></i>
      <p>+91 22-27782183</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
     <!--  <p><a href="fleetco.in">fleetco.inm</a></p> -->
    </div>
  </div>
</footer>