<div class="col-md-10">
  <!-- Modal -->
  <div class="modal-fade">
  <div class="modal-dialog">
  <!-- Modal content-->
  <div class="row">
  <div class="col-md-12 col-sm-12 col-lg-8 col-md-offset-1">
    <div class="panel panel-primary body">
    <div id="p1" class="panel-heading text-center" style="width:780px;">{{message}}</div>
    <div class="panel-body">
    <form class="form-validation border">
      <table style="background-color: gainsboro; width:750px;">
   <!--  <div class="form-group" class="col-md-6">
     <label for="vehicleId">Vehicle Id:</label>
      <input type="text" [(ngModel)]="vehicle.vehicleId" placeholder="Vehicle Id" name="vehicleId" class="form-control"
        id="vehicleId" required autofocus>
    </div>-->
    <div class="form-group" class="col-md-6">
      <label for="vehicleNo">Vehicle Number: </label>
      <input type="text" required autofocus [(ngModel)]="vehicle.vehicleNo" placeholder="Vehicle Number" name="vehicleNo" class="form-control" id="vehicleNo">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="assinplant">Assigned Plant:</label>
      <input type="text" required autofocus [(ngModel)]="vehicle.assinplant" placeholder="Assigned Plant" name="assinplant" class="form-control"
        id="assinplant">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="vMake">Vehicle Make:</label>
      <input type="text" [(ngModel)]="vehicle.vMake" required autofocus placeholder="Vehicle Make" name="vMake" class="form-control"
        id="vMake">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="vModel">Vehicle Model:</label>
      <input [(ngModel)]="vehicle.vModel" required autofocus placeholder="Vehicle Model" name="vModel" class="form-control"
        id="vModel">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="manfDate">Manufacture Year:</label>
      <input type="date" required autofocus [(ngModel)]="vehicle.manfDate" placeholder="Manufacture Date" name="manfDate" class="form-control"
        id="manfDate">
    </div>
  
    <div class="form-group col-md-12"><br/>
        <button class="btn btn-primary pull-right" (click)="createVehicle(vehicle)">{{btnMsg}}</button>
    </div>   
      </table>           
  </form>
</div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>

<div class="col-md-2"></div>