<div class="col-md-10">
  <!-- Modal -->
  <div class="modal-fade">
  <div class="modal-dialog">
  <!-- Modal content-->
  <div class="row">
  <div class="col-md-12 col-sm-12 col-lg-8 col-md-offset-1">
    <div class="panel panel-primary body">
    <div id="p1" class="panel-heading text-center" style="width:780px;">{{message}}</div>
    <div class="panel-body">
  <form class="form-validation border">
    <div class="form-group" class="col-md-6">
      <label for="dId">Driver Id:</label>
      <input type="text" [(ngModel)]="driver.dId" (input)="checkFormValidity()" placeholder="Driver Id" name="dId" class="form-control"
        id="dId" required autofocus>
    </div>
    <div class="form-group" class="col-md-6">
      <label for="plant">Plant: </label>
      <input type="text" required autofocus [(ngModel)]="driver.plant" (input)="checkFormValidity()" placeholder="Plant" name="plant" class="form-control" id="plant">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="dName">Driver Name:</label>
      <input required autofocus (input)="checkFormValidity()" [(ngModel)]="driver.dName" placeholder="Driver Name" name="dName" class="form-control"
        id="dName">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="phNo">Contact Number:</label>
      <input type="text" maxlength="12" (input)="checkFormValidity()" [(ngModel)]="driver.phNo" required autofocus placeholder="Contact Number" name="phNo" class="form-control"
        id="phNo">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="licenceNo">Licence Number:</label>
      <input [(ngModel)]="driver.licenceNo" (input)="checkFormValidity()" required autofocus placeholder="Licence Number" name="licenceNo" class="form-control"
        id="licenceNo">
    </div>
    <div class="form-group" class="col-md-6">
      <label for="licenceExp">Licence Expiry Date</label>
      <input type="date" [(ngModel)]="driver.licenceExp" (input)="checkFormValidity()" required autofocus placeholder="Expiry Date" name="licenceExp" class="form-control"
        id="licenceExp">
    </div> 
      <div class="form-group" class="col-md-6">
        <label for="createdDate">Created Date:</label>
        <input type="date" required autofocus [(ngModel)]="driver.createdDate" (input)="checkFormValidity()" placeholder="Created Date" name="createdDate" class="form-control"
          id="createdDate">
      </div>
      <div class="form-group" class="col-md-6">
        <label class="col-md-12" for="createdDate">Vehicle No:</label><br>
        <select placeholder="VehicleNo" (change)="checkFormValidity()" class="col-md-12" [ngModelOptions]="{standalone: true}" class="form-group" [(ngModel)]="driver.vehicleId">
           <option placeholder="VehicleNo" class="form-group" *ngFor="let vehicle of vehicles" value="{{vehicle.vehicleId}}">
                    {{vehicle.vehicleNo}}
           </option>        
        </select>
      </div>
    <div class="form-group col-md-12"><br/>
        <button class="btn btn-primary pull-right" [disabled]="!disableFlag" (click)="createdriver(driver)">{{btnMsg}}</button>
    </div>       
  </form>  
</div>
    </div>
  </div>
  </div>
  </div>
  </div>
</div>

<div class="col-md-2"></div>
<div style="height: 150px;"></div>

