<div style="text-align:center">
    <h1>
      Welcome To Balaji Transport!
    </h1>
    <p>
      <button (click)="logout()">
        Logout
      </button>
    </p>
  <!-- <img width="300" alt="Angular Logo" src="assets\images\download.jpg"></div>--> 

    <!-- Search form -->
<form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
        <tr><th>Driver Id: </th>
        </tr>
      <input class="form-control mr-sm-2" type="text" placeholder="Driver Id">
    </div>
  </form>