table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.example-viewport {
  height: 800px;
  width: 100%;
  border: 0px solid black;
}

.example-item {
  height: 50px;
}
.container-fluid
{
  width: 95%;
}